.Aurora-thertiry-Accordion-container {
  @apply flex justify-between bg-black-primary w-full min-h-[48px] h-[48px]  items-center  px-4 py-2 cursor-pointer select-none;
}

.Aurora-thertiry-Accordion-container[data-isActive="true"] {
  @apply rounded-t-xl ;
}
.Aurora-thertiry-Accordion-container[data-isActive="false"] {
  @apply rounded-none  border-b border-[#FFFFFF61];
}
.Aurora-thertiry-Accordion-text {
  @apply text-primary-text font-medium text-xs xl:text-sm;
}

.Aurora-thertiry-Accordion-number {
  @apply text-brand-primary-color text-xs font-normal;
}
.Aurora-thertiry-Accordion-list-container {
  @apply w-full bg-black-primary   h-full max-h-[420px] flex  rounded-t-none border-none rounded-xl border-main-border flex-col gap-4 px-6;
}

.Aurora-thertiry-icons-arrow-down {
  mask-image: url(/Themes/Aurora/icons/chevron-down.svg);
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-4 h-4 bg-white;
}

.Aurora-thertiry-icons-arrow-up {
  mask-image: url(/Themes/Aurora/icons/chevron-up.svg);
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-4 h-4 bg-white;
}