.Aurora-biomarker-container{
    @apply  flex flex-col overflow-hidden px-4  2xl:px-8     w-full gap-1 lg:gap-2 xl:gap-3 2xl:gap-4
 }
 .Aurora-filterbox-container{
     @apply rounded-xl bg-black-primary border border-main-border flex text-xs text-primary-text;
 }
 .Aurora-filterbox-item-container{
 @apply border-r border-main-border px-4 py-1
 }
 .Aurora-filterbox-item{
     @apply bg-black-secondary py-[10px] px-6 rounded-2xl;
 }
 .Aurora-biomarker-charts-container{
     @apply w-full grid   gap-5   grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
 }
 .Aurora-biomarker-charts-container[data-active ="true"]{
     @apply grid-cols-1 mr-4  w-full  max-w-[292px]  ;
 }
 .Aurora-biomarker-leftbuttons-container{
     @apply flex flex-col gap-4 ;
 }
 .Aurora-biomarker-leftbuttons-container[data-active="true"]{
     @apply flex-row;
 }
 .Aurora-biomarker-analyze-button{
     @apply cursor-pointer flex justify-center items-center gap-2 bg-brand-primary-color rounded-xl  font-medium py-1 md:py-2 lg:py-3;
 
 }
 .Aurora-biomarker-analyze-button[data-active="true"]{
     @apply hidden;
 }
 .Aurora-biomarker-analyze-button-text{
     @apply text-xs md:text-sm font-medium text-black-primary;
 }
 .Aurora-biomarker-back-button{
     @apply hidden bg-black-primary rounded-xl  items-center cursor-pointer justify-center px-4;
 
 }
 .Aurora-biomarker-back-button[data-active="true"]{
     @apply flex;
 }
 .Aurora-biomarker-Addbiomarker-button{
     @apply text-nowrap text-[8px]  md:text-[10px] lg:text-xs w-full  flex justify-center items-center gap-2 text-white cursor-pointer py-8 ;
 
 }
 .Aurora-biomarker-Addbiomarker-button[data-active="true"]{
     @apply py-4;
 }
 .Aurora-biomarker-Addbiomarker-button-text{
     @apply text-xs font-medium text-secondary-text;
 }
 .Aurora-biomarker-Ai-card{
     @apply bg-black-primary w-full    flex flex-col  rounded-2xl border border-main-border px-6 py-2
 }
 .Aurora-biomarker-Ai-card-logo-heading-text{
     @apply text-primary-text text-sm font-medium;
 }
 .Aurora-biomarker-Ai-card-text{
     @apply text-secondary-text text-sm font-normal;
 }
 .Aurora-biomarker-Ai-chat-container{
    @apply relative flex flex-col xl:h-[400px]    2xl:h-[456px] w-full; 
 }
 .Aurora-biomarker-Ai-chat-text{
     @apply bg-black-secondary w-full text-secondary-text text-sm p-2 my-2 rounded-xl
 }
 .Aurora-biomarker-chartCard-container{
    @apply bg-black-primary px-1 xl:px-3 py-3 border border-main-border rounded-2xl flex;
 }
 .Aurora-biomarker-chartCard-container[data-active="true"]{
    @apply bg-brand-primary-color;
 }
 .Aurora-biomarker-chartCard-title{
   @apply text-sm xl:text-base text-primary-text font-medium

 }
 .Aurora-biomarker-chartCard-title[data-active="true"]{
    @apply text-black;
 }
 .Aurora-biomarker-chartCard-text{
   @apply text-sm xl:text-lg text-primary-text;
 }
 .Aurora-biomarker-chartCard-text[data-active="true"]{
    @apply text-black;
 }
 .Aurora-graphicinfo-largechartCard-container{
@apply bg-black-primary w-full  border rounded-xl border-main-border  px-2  py-1;
 } 
 