.Aurora-graphicinfo-center-section {
  @apply w-full max-w-[400px] xl:max-w-[530px] 2xl:max-w-[665px] 3xl:max-w-[840px] flex flex-col justify-center items-center bg-black-primary px-4 pb-3 rounded-xl border border-main-border;
}

.Aurora-graphicinfo-btn-container {
  @apply flex justify-between bg-black-primary w-full  min-w-[312px] px-4 py-3 cursor-pointer select-none;
}
.Aurora-graphicinfo-btn-text {
  @apply text-primary-text font-medium text-sm;
}
.Aurora-graphicinfo-btn-container[data-isActive="true"] {
  @apply rounded-t-xl;
}
.Aurora-graphicinfo-btn-container[data-isActive="false"] {
  @apply rounded-xl;
}
.Aurora-graphicinfo-btn-number {
  @apply text-brand-primary-color text-xs font-normal;
}

.Aurora-graphicinfo-btn-list-container {
  @apply w-full bg-black-background h-full max-h-[420px] flex border border-t rounded-xl border-main-border flex-col gap-6 p-6;
}
.Aurora-graphicinfo-patientinfo {
  @apply absolute border-2 p-2  border-main-border rounded-full flex justify-center items-center w-[80px] h-[80px] lg:w-[100px] lg:h-[100px]   xl:w-[115px] xl:h-[115px] 2xl:w-[130px] 2xl:h-[130px];
}
.Aurora-graphicinfo-patientinfo-Nutritions-position {
  @apply top-2 left-2 xl:top-5 xl:left-10;
}
.Aurora-graphicinfo-patientinfo-Activity-position {
  @apply bottom-4 left-3 xl:bottom-5 xl:left-10;
}
.Aurora-graphicinfo-patientinfo-Sleep-position {
  @apply top-5 right-5  xl:top-5 xl:right-10;
}
.Aurora-graphicinfo-patientinfo-Mind-position {
  @apply bottom-5 right-5 xl:bottom-5 xl:right-10;
}


