.Aurora-icons-people {
    mask-image: url(/Themes/Aurora/icons/people.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6  bg-[#FFFFFF99];
}
.Aurora-icons-people[data-mode = 'active'],
.Aurora-icons-info-circle[data-mode = 'active'],
.Aurora-icons-trend-up[data-mode = 'active'],
.Aurora-icons-message-square[data-mode = 'active']
 {
    @apply bg-[#03DAC5];
}

.Aurora-icons-info-circle {
    mask-image: url(/Themes/Aurora/icons/info-circle.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6  bg-[#FFFFFF99];
}

.Aurora-icons-trend-up {
    mask-image: url(/Themes/Aurora/icons/trend-up.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6  bg-[#FFFFFF99];
}

.Aurora-icons-message-square{
    mask-image: url(/Themes/Aurora/icons/message-square.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6  bg-[#FFFFFF99];
}

.Aurora-icons-logOut{
    mask-image: url(/Themes/Aurora/icons/logout.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6  bg-[#FFFFFF99];
}
.Aurora-icons-Search{
    mask-image: url(/Themes/Aurora/icons/search-normal.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6  bg-[#FFFFFF99];
}
.Aurora-icons-arrow-left{
    mask-image: url(/Themes/Aurora/icons/arrow-left.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-brand-primary-color ;
}
.Aurora-icons-arrow-right{
    mask-image: url(/Themes/Aurora/icons/arrow-right.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-5 h-5 bg-black ;
}
.Aurora-icons-arrow-up{
    mask-image: url(/Themes/Aurora/icons/chevron-up.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-4 h-4 bg-white ;
}
.Aurora-icons-arrow-down{
    mask-image: url(/Themes/Aurora/icons/chevron-down.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-4 h-4 bg-white ;
}
.Aurora-icons-Overview[data-active="true"], .Aurora-icons-Biomarker[data-active="true"], .Aurora-icons-Diagnosis[data-active="true"], .Aurora-icons-Intervention[data-active="true"], .Aurora-icons-Intervention[data-active="true"] {
    @apply bg-black
}
.Aurora-icons-Overview{
    mask-image: url(/Themes/Aurora/icons/overview.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-[#FFFFFF99] ;
}
.Aurora-icons-Biomarker{
    mask-image: url(/Themes/Aurora/icons/biomarker.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-[#FFFFFF99] ;
}
.Aurora-icons-Diagnosis{
    mask-image: url(/Themes/Aurora/icons/diagnosis.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6  bg-[#FFFFFF99];
}
.Aurora-icons-Intervention{
    mask-image: url(/Themes/Aurora/icons/trend-up.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6  bg-[#FFFFFF99];
}
.Aurora-icons-Timeline{
    mask-image: url(/Themes/Aurora/icons/timeline.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6  bg-[#FFFFFF99];
}
.Aurora-icons-Messages{
    mask-image: url(/Themes/Aurora/icons/messages.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6  bg-[#FFFFFF99];
}
.Aurora-icons-Overview[data-active="true"], .Aurora-icons-Biomarker[data-active="true"], .Aurora-icons-Diagnosis[data-active="true"], .Aurora-icons-Intervention[data-active="true"], .Aurora-icons-timeline[data-active="true"], .Aurora-icons-Messages[data-active="true"] {
    @apply bg-black
}
.Aurora-icons-PiChatBold{
    @apply text-[#03DAC5] w-6 h-6
}

.Aurora-graphicinfo-patientinfo-Nutrition-icon{
    mask-image: url(/Themes/Aurora/icons/Nutriton-icon.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-brand-primary-color
     ;
}
.Aurora-graphicinfo-patientinfo-Nutrition-border{
    mask-image: url(/Themes/Aurora/icons/Nutriton-icon.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-brand-primary-color
     ;
}
.Aurora-graphicinfo-patientinfo-Activity-icon{
    mask-image: url(/Themes/Aurora/icons/Activity-icon.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-brand-secondary-color;
     ;
}
.Aurora-graphicinfo-patientinfo-Activity-border{
    mask-image: url(/Themes/Aurora/icons/Activity-border.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-brand-secondary-color;
     ;
}
.Aurora-icons-stars{
    mask-image: url(/public/Themes/Aurora/icons/stars.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-brand-secondary-color;
     ;
}
.Aurora-icons-Add{
    mask-image: url(/public/Themes/Aurora/icons/add-square.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-[#FFFFFF99];
     ;
}
.Aurora-icons-logo{
    mask-image: url(/public/Themes/Aurora/icons/AiLogo.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-[#FFFFFF99];
     ;
}
.Aurora-icons-camera{
    mask-image: url(/public/Themes/Aurora/icons/camera.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-brand-primary-color;
     ;
}
.Aurora-icons-microphone{
    mask-image: url(/public/Themes/Aurora/icons/input-microphone.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-brand-primary-color;
     ;
}
.Aurora-icons-Temperature{
    mask-image: url(/public/Themes/Aurora/icons/temp-icon.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-brand-primary-color;
     ;
}
.Aurora-icons-Temperature{
    mask-image: url(/public/Themes/Aurora/icons/Temperature.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-brand-primary-color;
     ;
}
.Aurora-icons-HeartRate{
    mask-image: url(/public/Themes/Aurora/icons/HeartRate.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-brand-primary-color;
     ;
}
.Aurora-icons-BloodPressure{
    mask-image: url(/public/Themes/Aurora/icons/BloodPressure.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-brand-primary-color;
     ;
}
.Aurora-icons-CBC{
    mask-image: url(/public/Themes/Aurora/icons/CBC.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-brand-primary-color;
     ;
}
.Aurora-icons-openbook{
    mask-image: url(/public/Themes/Aurora/icons/open-book.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-5 h-5 bg-white;
     ;
}