.Aurora-TopBar-container {
    @apply absolute  md:h-[56px] w-full pl-20 py-3 bg-black-primary border-b border-black-fourth top-0 z-40
}

.Aurora-TopBar-container-main {
    @apply flex-wrap gap-4 py-4 md:py-0 md:gap-0 flex justify-between  px-10 items-center
}
.Aurora-TopBar-container-main-boxLayer {
    @apply flex items-center
}

.Aurora-TopBar-Button-layer {
    @apply w-8 h-8 mr-2 bg-black-fourth rounded-full flex justify-center items-center
}
