.Aurora-SearchBox-container {
  @apply h-full flex items-center relative;
}

.Aurora-SearchBox-input {
  @apply pl-10 w-full pr-4 text-[10px] relative text-secondary-text bg-black-primary outline-none border border-[#333333] md:w-[360px] h-[32px] rounded-[12px];
}

.Aurora-SearchBox-input-icon {
  @apply absolute left-2;
}
