@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  font-family: Roboto;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: Roboto;
  src: url("../src/assets/fonts/Roboto-Regular.ttf") format("truetype");
}
#copilot-chat::-webkit-scrollbar {
  display: none;
}
.custom-border{
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23353535FF' stroke-width='5' stroke-dasharray='10' stroke-dashoffset='26' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 16px;
  
}

.hidden-scrollBar::-webkit-scrollbar{
  display: none;
}
/* index.css or custom.css */
.custom-checkbox {

accent-color: #7F39FB;

display: inline-block;
position: relative;
cursor: pointer;
}
.sigma-node-label {
  background-color: transparent; /* Default label background */
}

.node-highlighted {
  background-color: #1E1E1E !important; /* Example dark color */
}